<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerar Licença</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">Gerar Nova Licença</h1>
        <form action="/gerar_licenca" method="POST" class="p-4 bg-light rounded shadow">
            <div class="mb-3">
                <label for="usuario" class="form-label">Nome:</label>
                <input type="text" id="usuario" name="usuario" class="form-control" required>
            </div>
            
            <div class="mb-3">
                <label for="hardware_id" class="form-label">Hardware ID:</label>
                <input type="text" id="hardware_id" name="hardware_id" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Gerar Licença</button>
        </form>
    </div>
</body>

</html>
